#title {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: bold;
}

table {
    position: relative;
    table-layout: fixed;
    margin: auto;
}

input {
    padding-left: 4px;
    font-weight: bold;
}

td {
    word-wrap:break-word
}