{% extends 'base.html' %}
{% load staticfiles %}
{% load template_library %}

{% block extra_css %}
  <link type="text/css" rel="stylesheet" href="{% static "assets/css/login.css" %}"/>
{% endblock %}

{% block title %}
Login
{% endblock %}

{% block navbar %}{% endblock %}

{% block body_title %}
Login
{% endblock %}

{% block content %}
<form action='/accounts/login/' method='post'>{% csrf_token %}
	<span class="errorlist">{{ error }}</span>
	<table><tbody>
		<tr><td>{{ form.username.label }}</td>
			<td>{{ form.username }}</td></tr>
		<tr><td>{{ form.password.label }}</td>
			<td>{{ form.password }}</td></tr>
		<tr><td></td><td><a href="/accounts/register/"><button type="button" id="register">Register</button></a>
			<input type='submit' value='Login' /></td></tr>
	</tbody></table>
</form>
{% endblock %}