{% extends 'base.html' %}
{% load staticfiles %}
{% load template_library %}

{% block extra_css %}
  <link type="text/css" rel="stylesheet" href="{% static "assets/css/register_success.css" %}"/>
{% endblock %}

{% block title %}
Registered
{% endblock %}

{% block navbar %}{% endblock %}

{% block body_title %}
Register Success
{% endblock %}

{% block content %}
<h2>You have successfully registered!</h2>
<p>Click <a href='/accounts/login/'>here</a> to login with your new account.</p>
{% endblock %}