{% extends "base.html" %}
{% load staticfiles %}
{% load template_library %}

{% block extra_css %}
  <link type="text/css" rel="stylesheet" href="{% static "assets/css/welcome.css" %}"/>
{% endblock %}

{% block title %}
Welcome
{% endblock %}

{% block navbar %}{% endblock %}

{% block body_title %}
Welcome to Ultimatum!
{% endblock %}

{% block content %}
<div class="row">
    <div id="intro" class="col-md-4">
        <h2>Organise and socialise</h2>
        <p>Ultimatum takes the pain and hassle out of making choices.</p>
    </div>
    <div id="login_container" class="col-md-4">
        <a href="/accounts/login/">
            <button id="login_button" type="button">Login</button>
        </a>
    </div>
    <div class="col-md-4"></div>
</div> <!--row-->
{% endblock %}