{% extends 'base.html' %}
{% load staticfiles %}
{% load template_library %}

{% block extra_css %}
  <link type="text/css" rel="stylesheet" href="{% static "assets/css/home.css" %}"/>
{% endblock %}

{% block title %}
Home
{% endblock %}

{% block body_title %}
Home
{% endblock %}

{% block content %}
{% if message %}
    <div id="login_confirmation">
    	<h2>{{ message }}</h2>
        <br/>
        <br/>
    </div>
{% endif %}
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4" id="links">
        <p>Click <a href='/choices/view_ultimatums/'>here</a> to view ultimatums.</p>
        <p>Click <a href='/choices/create_choice/'>here</a> to create an ultimatum choice.</p>
        <p>Click <a href='/users/add_friends/'>here</a> to add friends.</p>
    </div>
    <div class="col-md-4"></div></div>
</div> <!--row-->
{% endblock %}

{% block footer %}
<p style="text-align: center">Click <a href='/accounts/logout/'>here</a> to logout.</p>
{% endblock %}