{% extends 'base.html' %}
{% load staticfiles %}
{% load template_library %}

{% block extra_css %}
  <link type="text/css" rel="stylesheet" href="{% static "assets/css/update_friends.css" %}"/>
{% endblock %}

{% block title %}
Update Friends
{% endblock %}

{% block body_title %}
Update Friends
{% endblock %}

{% block content %}
<form id = 'friend_form' action="/users/update_friends/" method="post" enctype='multipart/form-data'>{% csrf_token %}
    {{ form.friends }}
    <input type='submit' value='update' id='submit'/>
</form>
{% endblock %}

{% block footer %}
<p style="text-align: center">Click <a href='/accounts/logout/'>here</a> to logout.</p>
{% endblock %}