{% extends 'base.html' %}
{% load staticfiles %}
{% load template_library %}

{% block extra_css %}
  <link type="text/css" rel="stylesheet" href="{% static "assets/css/view_ultimatum.css" %}"/>
{% endblock %}

{% block title %}
View Choice
{% endblock %}

{% block body_title %}
View your choice
{% endblock %}

{% block content %}

Your choice was submitted.
<div class="row" id="question_container">
    Your question: {{ choice.question }}
</div>
<hr/>

<div class="row" id="option_container">
    <div class="col-md-1"></div>
     <div class="col-md-4" id="option1">
        Option A <br />
        {% if choice.image1 %}
            <img src='/static/assets/{{ choice.image1 }}'/><br />
        {% endif %}
        {% if choice.text1 %}
            {{ choice.text1 }}<br />
        {% endif %}
        {% if choice.url1 %}
            <a href="{{ choice.url1 }}">{{ choice.url1 }}</a>
        {% endif %}
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-4" id="option2">
        Option B <br />
        {% if choice.image2 %}
            <img src='/static/assets/{{ choice.image2 }}'/><br />
        {% endif %}
        {% if choice.text2 %}
            {{ choice.text2 }}<br />
        {% endif %}
        {% if choice.url2 %}
            <a href="{{ choice.url2 }}">{{ choice.url2 }}</a>
        {% endif %}
    </div>
    <div class="col-md-1"></div>
</div> <!--row-->

<div class="row" id="time_container">
    <div class="col-md-3"></div>
    <div class="col-md-6" id="timer">   
        Time limit: {{ choice.time_limit_str }} minutes<br />
        Time remaining: {{ choice.time_remaining }}
    </div>
    <div class="col-md-3"></div>
</div> <!--row-->
{% endblock %}

{% block footer %}
<p style="text-align: center">Click <a href='/accounts/logout/'>here</a> to logout.</p>
{% endblock %}
