{% extends 'base.html' %}
{% load staticfiles %}
{% load template_library %}

{% block extra_css %}
  <link type="text/css" rel="stylesheet" href="{% static "assets/css/view_ultimatums.css" %}"/>
{% endblock %}

{% block title %}
View Choices
{% endblock %}


{% block body_title %}
View Choices
{% endblock %}

{% block content %}
{% if user_ultimatums %}
<div id="user_created">
    Choices that you have created: <br />
    {% if user_ultimatums %}
        {% for ultimatum in user_ultimatums %}
            <a href="/choices/view_ultimatum/{{ ultimatum.pk }}">{{ ultimatum|truncatechars:40 }} |
            {{ ultimatum.total_votes }} vote{{ ultimatum.total_votes|pluralize:",s" }} | 
            {{ ultimatum.time_created |date:"j F \a\t H:i" }} |
            {% if ultimatum.expired %}
                Voting closed 
                {% if ultimatum not in siteuser.viewed_results.all %}
                    <span class="highlight">*see results!*</span>
                {% endif %}
            {% else %}
                Time remaining: {{ ultimatum.time_remaining_str }}
            {% endif %}</a><br />
        {% endfor %}
    {% else %}
        None
    {% endif %}
</div>
<br />
{% endif %}
{% if other_ultimatums %}
<div id="other_created">
    Choices that others have invited you to vote on:<br />
    {% if other_ultimatums %}
        {% for ultimatum in other_ultimatums %}
            <a href="/choices/view_ultimatum/{{ ultimatum.pk }}">{{ ultimatum|truncatechars:40 }} |
            {{ ultimatum.total_votes }} vote{{ ultimatum.total_votes|pluralize:",s" }} | 
            {{ ultimatum.time_created |date:"j F \a\t H:i" }} |
            {% if ultimatum.expired %}
                Voting closed
                {% if ultimatum not in siteuser.viewed_results.all %}
                    <span class="highlight">*see results!*</span>
                {% endif %}
            {% else %}
                Time remaining: {{ ultimatum.time_remaining_str }}
                {% if ultimatum not in siteuser.viewed_current.all %}
                    <span class="highlight">*New!*</span>
                {% else %}{% if siteuser not in ultimatum.voted_1.all and siteuser not in ultimatum.voted_2.all %}
                    <span class="highlight">*Not yet voted!*</span>
                    {% endif %}
                {% endif %}
            {% endif %}</a><br />
        {% endfor %}
    {% else %}
        None
    {% endif %}
</div>
<br />
<div id="public">
    Choices that the public have invited you to vote on:<br />
    {% if public_ultimatums %}
        {% for ultimatum in public_ultimatums %}
            <a href="/choices/view_ultimatum/{{ ultimatum.pk }}">{{ ultimatum|truncatechars:40 }} |
            {{ ultimatum.total_votes }} vote{{ ultimatum.total_votes|pluralize:",s" }} | 
            {{ ultimatum.time_created |date:"j F \a\t H:i" }} |
            {% if ultimatum.expired %}
                Voting closed
                {% if ultimatum not in siteuser.viewed_results.all %}
                    <span class="highlight">*see results!*</span>
                {% endif %}
            {% else %}
                Time remaining: {{ ultimatum.time_remaining_str }}
                {% if ultimatum not in siteuser.viewed_current.all %}
                    <span class="highlight">*New!*</span>
                {% else %}{% if siteuser not in ultimatum.voted_1.all and siteuser not in ultimatum.voted_2.all %}
                    <span class="highlight">*Not yet voted!*</span>
                    {% endif %}
                {% endif %}
            {% endif %}</a><br />
        {% endfor %}
    {% else %}
        None
    {% endif %}
</div>
{% endif %}
{% endblock %}

{% block footer %}
<p style="text-align: center">Click <a href='/accounts/logout/'>here</a> to logout.</p>
{% endblock %}