{% extends 'base.html' %}
{% load staticfiles %}
{% load template_library %}

{% block extra_css %}
  <link type="text/css" rel="stylesheet" href="{% static "assets/css/view_ultimatum.css" %}"/>
{% endblock %}

{% block title %}
View Choice
{% endblock %}


{% block body_title %}
View Choice
{% endblock %}

{% block content %}
<div class="row" id="question_container">
    {% if message %}{{ message }}<br />{% endif %}
    Question: {{ choice.question }}
</div>
<hr/>

<div class="row" id="option_container">
    <div class="col-md-1"></div>
    <div class="col-md-4" id="option1">
        Option A <br />
        {% if choice.image1 %}
            <img src='/static/assets/{{ choice.image1 }}'/>
        {% else %}{% if choice.text1 %}
            {{ choice.text1 }}
        {% else %}
            {{ choice.url1 }}
        {% endif %}{% endif %}
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-4" id="option2">
        Option B <br />
        {% if choice.image2 %}
            <img src='/static/assets/{{ choice.image2 }}'/>
        {% else %}{% if choice.text2 %}
            {{ choice.text2 }}
        {% else %}
            {{ choice.url2 }}
        {% endif %}{% endif %}
    </div>
    <div class="col-md-1"></div>
</div> <!--row-->

<div class="row" id="time_container">
    <div class="col-md-3"></div>
    <div class="col-md-6" id="timer">
        Time limit: {{ choice.time_limit }} minutes<br />
        Time remaining: {{ choice.time_remaining_str }}<br />
        {% if form %}
            <form id='vote_form' action="/choices/view_ultimatum/{{ choice.pk }}" method="post">{% csrf_token %}
                {{ form.vote.label }}: {{ form.vote }}<br/>
                Comment: {{ form2.content }}<br/><br/>
                <input type='submit' value='submit' id='submit'/>
            </form>
        {% endif %}
    </div>
    <div class="col-md-3"></div>
</div> <!--row-->
{% endblock %}

{% block footer %}
<p style="text-align: center">Click <a href='/accounts/logout/'>here</a> to logout.</p>
{% endblock %}